* {
    /* border: 2px solid black */
    margin: 0;
}

header{
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: center;
}

#sidebar {
    /* flex: auto; */
    display: flex;
    flex-direction: column;
}

#sidebar button {
    text-align: right;
    margin: 10px;
}

#container-div {
    width: 960px;
    border: 2px solid black;
    /* flexbox */
    display: flex;
    flex-wrap: wrap;
}

/* float/clear */
/* .grid {
    box-sizing: border-box;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: auto;
    float: left;
} */

/* flexbox */

.grid {
    box-sizing: border-box;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    /* margin: auto; */
    flex: 0 0 auto;
}

.grid-drawn {
    background-color: black;
}